In [122]:
pip install nba_api pandas tqdm

SyntaxError: invalid syntax (882439324.py, line 1)

In [ ]:
import pandas as pd
from nba_api.stats.endpoints import playercareerstats

{'resource': 'playercareerstats',
 'parameters': {'PerMode': 'Totals', 'PlayerID': 203999, 'LeagueID': '00'},
 'resultSets': [{'name': 'SeasonTotalsRegularSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'PLAYER_AGE',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[203999,
     '2015-16',
     '00',
     1610612743,
     'DEN',
     21.0,
     80,
     55,
     1733,
     307,
     600,
     0.512,
     28,
     84,
     0.333,
     154,
     190,
     0.811,
     181,
     379,
     560,
     189,
     79,
     50,
     104,
     208,
     796],
    [203999,
     '2016-17',
     '00',
     1610612743,
     'DEN',
     22.0,
     73,
     59,
     2038,
     494,
     854,
     0.578,
     45,
     139,
     0.324,
     188,
     228,
     0.825,
     212,
     506,
     718,
     359,
     61,
     55,
     171,
     214,
     1221],
    [203999,
     '2017-18',
     '00',
     1610612743,
     'DEN',
     23.0,
     75,
     73,
     2443,
     504,
     1010,
     0.499,
     111,
     280,
     0.396,
     266,
     313,
     0.85,
     195,
     608,
     803,
     458,
     90,
     61,
     210,
     212,
     1385],
    [203999,
     '2018-19',
     '00',
     1610612743,
     'DEN',
     24.0,
     80,
     80,
     2504,
     616,
     1206,
     0.511,
     83,
     270,
     0.307,
     289,
     352,
     0.821,
     228,
     637,
     865,
     580,
     108,
     55,
     248,
     228,
     1604],
    [203999,
     '2019-20',
     '00',
     1610612743,
     'DEN',
     25.0,
     73,
     73,
     2335,
     565,
     1071,
     0.528,
     80,
     255,
     0.314,
     246,
     301,
     0.817,
     166,
     545,
     711,
     512,
     85,
     44,
     226,
     222,
     1456],
    [203999,
     '2020-21',
     '00',
     1610612743,
     'DEN',
     26.0,
     72,
     72,
     2488,
     732,
     1293,
     0.566,
     92,
     237,
     0.388,
     342,
     394,
     0.868,
     205,
     575,
     780,
     599,
     95,
     48,
     222,
     192,
     1898],
    [203999,
     '2021-22',
     '00',
     1610612743,
     'DEN',
     27.0,
     74,
     74,
     2476,
     764,
     1311,
     0.583,
     97,
     288,
     0.337,
     379,
     468,
     0.81,
     206,
     813,
     1019,
     584,
     109,
     63,
     281,
     191,
     2004],
    [203999,
     '2022-23',
     '00',
     1610612743,
     'DEN',
     28.0,
     69,
     69,
     2323,
     646,
     1022,
     0.632,
     57,
     149,
     0.383,
     341,
     415,
     0.822,
     167,
     650,
     817,
     678,
     87,
     47,
     247,
     174,
     1690],
    [203999,
     '2023-24',
     '00',
     1610612743,
     'DEN',
     29.0,
     79,
     79,
     2737,
     822,
     1411,
     0.583,
     83,
     231,
     0.359,
     358,
     438,
     0.817,
     223,
     753,
     976,
     708,
     108,
     68,
     237,
     194,
     2085],
    [203999,
     '2024-25',
     '00',
     1610612743,
     'DEN',
     30.0,
     70,
     70,
     2571,
     786,
     1364,
     0.576,
     138,
     331,
     0.417,
     361,
     451,
     0.8,
     200,
     692,
     892,
     716,
     127,
     45,
     230,
     160,
     2071],
    [203999,
     '2025-26',
     '00',
     1610612743,
     'DEN',
     30.0,
     31,
     31,
     1087,
     330,
     546,
     0.604,
     66,
     150,
     0.44,
     201,
     235,
     0.855,
     95,
     289,
     384,
     343,
     44,
     24,
     111,
     88,
     927]]},
  {'name': 'CareerTotalsRegularSeason',
   'headers': ['PLAYER_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[203999,
     '00',
     0,
     776,
     735,
     24732,
     6566,
     11688,
     0.561772758384,
     880,
     2414,
     0.36454018227,
     3125,
     3785,
     0.825627476882,
     2078,
     6447,
     8525,
     5726,
     993,
     560,
     2287,
     2083,
     17137]]},
  {'name': 'SeasonTotalsPostSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'PLAYER_AGE',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[203999,
     '2018-19',
     '00',
     1610612743,
     'DEN',
     24.0,
     14,
     14,
     556,
     132,
     261,
     0.506,
     22,
     56,
     0.393,
     66,
     78,
     0.846,
     54,
     128,
     182,
     118,
     16,
     13,
     36,
     54,
     352],
    [203999,
     '2019-20',
     '00',
     1610612743,
     'DEN',
     25.0,
     19,
     19,
     694,
     178,
     343,
     0.519,
     42,
     98,
     0.429,
     66,
     79,
     0.835,
     37,
     150,
     187,
     109,
     20,
     15,
     62,
     68,
     464],
    [203999,
     '2020-21',
     '00',
     1610612743,
     'DEN',
     26.0,
     10,
     10,
     345,
     116,
     228,
     0.509,
     20,
     53,
     0.377,
     46,
     55,
     0.836,
     37,
     79,
     116,
     50,
     6,
     9,
     24,
     23,
     298],
    [203999,
     '2021-22',
     '00',
     1610612743,
     'DEN',
     27.0,
     5,
     5,
     171,
     61,
     106,
     0.575,
     5,
     18,
     0.278,
     28,
     33,
     0.848,
     17,
     49,
     66,
     29,
     8,
     5,
     24,
     20,
     155],
    [203999,
     '2022-23',
     '00',
     1610612743,
     'DEN',
     28.0,
     20,
     20,
     789,
     227,
     414,
     0.548,
     35,
     76,
     0.461,
     111,
     139,
     0.799,
     69,
     200,
     269,
     190,
     21,
     20,
     70,
     69,
     600],
    [203999,
     '2023-24',
     '00',
     1610612743,
     'DEN',
     29.0,
     12,
     12,
     482,
     133,
     244,
     0.545,
     14,
     53,
     0.264,
     64,
     71,
     0.901,
     43,
     118,
     161,
     104,
     17,
     8,
     40,
     32,
     344],
    [203999,
     '2024-25',
     '00',
     1610612743,
     'DEN',
     30.0,
     14,
     14,
     563,
     131,
     268,
     0.489,
     27,
     71,
     0.38,
     78,
     101,
     0.772,
     29,
     149,
     178,
     112,
     28,
     12,
     55,
     48,
     367]]},
  {'name': 'CareerTotalsPostSeason',
   'headers': ['PLAYER_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[203999,
     '00',
     0,
     94,
     94,
     3601,
     978,
     1864,
     0.524678111587,
     165,
     425,
     0.388235294117,
     459,
     556,
     0.825539568345,
     286,
     873,
     1159,
     712,
     116,
     82,
     311,
     314,
     2580]]},
  {'name': 'SeasonTotalsAllStarSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'PLAYER_AGE',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[203999,
     '2018-19',
     '00',
     1610616833,
     'GNS',
     24.0,
     1,
     0,
     13,
     3,
     4,
     0.75,
     0,
     0,
     0.0,
     0,
     0,
     0.0,
     3,
     6,
     9,
     0,
     0,
     0,
     1,
     1,
     6],
    [203999,
     '2019-20',
     '00',
     1610616834,
     'LBN',
     25.0,
     1,
     0,
     12,
     2,
     4,
     0.5,
     1,
     3,
     0.333,
     0,
     0,
     0.0,
     0,
     2,
     2,
     1,
     1,
     0,
     0,
     1,
     5],
    [203999,
     '2020-21',
     '00',
     1610616834,
     'LBN',
     26.0,
     1,
     1,
     19,
     3,
     4,
     0.75,
     0,
     0,
     0.0,
     0,
     0,
     0.0,
     0,
     7,
     7,
     5,
     0,
     1,
     2,
     1,
     6],
    [203999,
     '2021-22',
     '00',
     1610616834,
     'LBN',
     27.0,
     1,
     1,
     21,
     4,
     5,
     0.8,
     2,
     3,
     0.667,
     0,
     0,
     0.0,
     3,
     6,
     9,
     8,
     1,
     0,
     1,
     0,
     10],
    [203999,
     '2022-23',
     '00',
     1610616834,
     'LBN',
     28.0,
     1,
     1,
     20,
     2,
     4,
     0.5,
     0,
     1,
     0.0,
     0,
     0,
     0.0,
     3,
     2,
     5,
     6,
     2,
     0,
     2,
     0,
     4],
    [203999,
     '2023-24',
     '00',
     1610616834,
     'WST',
     29.0,
     1,
     1,
     23,
     6,
     8,
     0.75,
     1,
     1,
     1.0,
     0,
     0,
     0.0,
     3,
     1,
     4,
     9,
     2,
     0,
     1,
     1,
     13],
    [203999,
     '2024-25',
     '00',
     1610616851,
     'CHK',
     30.0,
     2,
     2,
     16,
     2,
     4,
     0.5,
     0,
     2,
     0.0,
     0,
     2,
     0.0,
     2,
     3,
     5,
     5,
     0,
     0,
     3,
     0,
     4]]},
  {'name': 'CareerTotalsAllStarSeason',
   'headers': ['PLAYER_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': [[203999,
     '00',
     0,
     8,
     6,
     125,
     22,
     33,
     0.666666666666,
     4,
     10,
     0.4,
     0,
     2,
     0.0,
     14,
     27,
     41,
     34,
     6,
     1,
     10,
     4,
     48]]},
  {'name': 'SeasonTotalsCollegeSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'ORGANIZATION_ID',
    'SCHOOL_NAME',
    'PLAYER_AGE',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': []},
  {'name': 'CareerTotalsCollegeSeason',
   'headers': ['PLAYER_ID',
    'LEAGUE_ID',
    'ORGANIZATION_ID',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': []},
  {'name': 'SeasonTotalsShowcaseSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'PLAYER_AGE',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': []},
  {'name': 'CareerTotalsShowcaseSeason',
   'headers': ['PLAYER_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'GP',
    'GS',
    'MIN',
    'FGM',
    'FGA',
    'FG_PCT',
    'FG3M',
    'FG3A',
    'FG3_PCT',
    'FTM',
    'FTA',
    'FT_PCT',
    'OREB',
    'DREB',
    'REB',
    'AST',
    'STL',
    'BLK',
    'TOV',
    'PF',
    'PTS'],
   'rowSet': []},
  {'name': 'SeasonRankingsRegularSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'PLAYER_AGE',
    'GP',
    'GS',
    'RANK_MIN',
    'RANK_FGM',
    'RANK_FGA',
    'RANK_FG_PCT',
    'RANK_FG3M',
    'RANK_FG3A',
    'RANK_FG3_PCT',
    'RANK_FTM',
    'RANK_FTA',
    'RANK_FT_PCT',
    'RANK_OREB',
    'RANK_DREB',
    'RANK_REB',
    'RANK_AST',
    'RANK_STL',
    'RANK_BLK',
    'RANK_TOV',
    'RANK_PTS',
    'RANK_EFF'],
   'rowSet': [[203999,
     '2015-16',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     152,
     112,
     135,
     18,
     223,
     227,
     None,
     90,
     104,
     58,
     24,
     45,
     38,
     82,
     61,
     68,
     115,
     120,
     50],
    [203999,
     '2016-17',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     108,
     34,
     68,
     6,
     192,
     188,
     None,
     61,
     65,
     46,
     12,
     17,
     13,
     31,
     106,
     51,
     32,
     41,
     17],
    [203999,
     '2017-18',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     40,
     29,
     36,
     29,
     88,
     99,
     35,
     25,
     30,
     26,
     10,
     8,
     7,
     12,
     38,
     47,
     16,
     26,
     8],
    [203999,
     '2018-19',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     34,
     19,
     25,
     31,
     128,
     107,
     128,
     28,
     34,
     52,
     10,
     9,
     8,
     6,
     19,
     53,
     9,
     22,
     4],
    [203999,
     '2019-20',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     11,
     11,
     21,
     19,
     127,
     102,
     142,
     29,
     30,
     56,
     14,
     8,
     8,
     6,
     25,
     63,
     8,
     18,
     3],
    [203999,
     '2020-21',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     3,
     1,
     8,
     14,
     117,
     132,
     75,
     12,
     14,
     26,
     8,
     7,
     5,
     3,
     11,
     55,
     5,
     3,
     1],
    [203999,
     '2021-22',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     18,
     2,
     8,
     8,
     121,
     110,
     120,
     9,
     8,
     63,
     13,
     1,
     1,
     6,
     10,
     34,
     5,
     5,
     1],
    [203999,
     '2022-23',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     47,
     13,
     47,
     8,
     208,
     220,
     None,
     23,
     22,
     58,
     25,
     3,
     3,
     2,
     28,
     62,
     5,
     17,
     1],
    [203999,
     '2023-24',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     9,
     2,
     11,
     10,
     156,
     158,
     114,
     15,
     15,
     60,
     9,
     2,
     3,
     2,
     8,
     32,
     9,
     5,
     1],
    [203999,
     '2024-25',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     21,
     3,
     9,
     9,
     76,
     99,
     18,
     10,
     7,
     65,
     13,
     4,
     4,
     2,
     4,
     70,
     7,
     3,
     1],
    [203999,
     '2025-26',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     6,
     1,
     10,
     9,
     42,
     68,
     15,
     7,
     6,
     38,
     10,
     1,
     1,
     1,
     11,
     42,
     2,
     2,
     1]]},
  {'name': 'SeasonRankingsPostSeason',
   'headers': ['PLAYER_ID',
    'SEASON_ID',
    'LEAGUE_ID',
    'TEAM_ID',
    'TEAM_ABBREVIATION',
    'PLAYER_AGE',
    'GP',
    'GS',
    'RANK_MIN',
    'RANK_FGM',
    'RANK_FGA',
    'RANK_FG_PCT',
    'RANK_FG3M',
    'RANK_FG3A',
    'RANK_FG3_PCT',
    'RANK_FTM',
    'RANK_FTA',
    'RANK_FT_PCT',
    'RANK_OREB',
    'RANK_DREB',
    'RANK_REB',
    'RANK_AST',
    'RANK_STL',
    'RANK_BLK',
    'RANK_TOV',
    'RANK_PTS',
    'RANK_EFF'],
   'rowSet': [[203999,
     '2018-19',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     13,
     7,
     9,
     14,
     20,
     28,
     29,
     8,
     10,
     27,
     1,
     6,
     4,
     4,
     18,
     14,
     12,
     10,
     4],
    [203999,
     '2019-20',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     6,
     4,
     4,
     12,
     10,
     16,
     19,
     10,
     10,
     31,
     4,
     2,
     4,
     4,
     11,
     8,
     2,
     5,
     3],
    [203999,
     '2020-21',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     37,
     13,
     13,
     18,
     36,
     38,
     44,
     14,
     15,
     30,
     8,
     16,
     12,
     20,
     58,
     25,
     19,
     14,
     13],
    [203999,
     '2021-22',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     85,
     32,
     44,
     7,
     97,
     90,
     79,
     32,
     34,
     21,
     26,
     38,
     35,
     44,
     51,
     53,
     27,
     38,
     37],
    [203999,
     '2022-23',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     5,
     1,
     2,
     11,
     14,
     25,
     12,
     3,
     2,
     32,
     1,
     1,
     1,
     1,
     8,
     6,
     1,
     1,
     1],
    [203999,
     '2023-24',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     21,
     8,
     9,
     10,
     46,
     36,
     80,
     7,
     10,
     9,
     3,
     3,
     3,
     5,
     10,
     31,
     6,
     8,
     3],
    [203999,
     '2024-25',
     '00',
     1610612743,
     'DEN',
     'NR',
     'NR',
     'NR',
     17,
     8,
     8,
     19,
     22,
     25,
     33,
     7,
     6,
     41,
     10,
     3,
     3,
     4,
     10,
     16,
     2,
     8,
     5]]},
  {'name': 'SeasonHighs',
   'headers': ['PLAYER_ID',
    'GAME_ID',
    'GAME_DATE',
    'VS_TEAM_ID',
    'VS_TEAM_CITY',
    'VS_TEAM_NAME',
    'VS_TEAM_ABBREVIATION',
    'STAT',
    'STAT_VALUE',
    'STAT_ORDER',
    'DATE_EST'],
   'rowSet': [[203999,
     '0022500013',
     'Dec 25 2025',
     1610612750,
     'Minnesota',
     'Timberwolves',
     'MIN',
     'PTS',
     56,
     1,
     '2025-12-25T00:00:00'],
    [203999,
     '0022500433',
     'Dec 27 2025',
     1610612753,
     'Orlando',
     'Magic',
     'ORL',
     'REB',
     21,
     2,
     '2025-12-27T00:00:00'],
    [203999,
     '0022500433',
     'Dec 27 2025',
     1610612753,
     'Orlando',
     'Magic',
     'ORL',
     'OREB',
     7,
     3,
     '2025-12-27T00:00:00'],
    [203999,
     '0022500274',
     'Nov 22 2025',
     1610612758,
     'Sacramento',
     'Kings',
     'SAC',
     'OREB',
     7,
     3,
     '2025-11-22T00:00:00'],
    [203999,
     '0022500315',
     'Dec 01 2025',
     1610612742,
     'Dallas',
     'Mavericks',
     'DAL',
     'DREB',
     16,
     4,
     '2025-12-01T00:00:00'],
    [203999,
     '0022500287',
     'Nov 24 2025',
     1610612763,
     'Memphis',
     'Grizzlies',
     'MEM',
     'AST',
     16,
     5,
     '2025-11-24T00:00:00'],
    [203999,
     '0022500178',
     'Nov 05 2025',
     1610612748,
     'Miami',
     'Heat',
     'MIA',
     'AST',
     16,
     5,
     '2025-11-05T00:00:00'],
    [203999,
     '0022500415',
     'Dec 23 2025',
     1610612742,
     'Dallas',
     'Mavericks',
     'DAL',
     'STL',
     4,
     6,
     '2025-12-23T00:00:00'],
    [203999,
     '0022500162',
     'Nov 03 2025',
     1610612758,
     'Sacramento',
     'Kings',
     'SAC',
     'STL',
     4,
     6,
     '2025-11-03T00:00:00'],
    [203999,
     '0022500405',
     'Dec 22 2025',
     1610612762,
     'Utah',
     'Jazz',
     'UTA',
     'BLK',
     3,
     7,
     '2025-12-22T00:00:00'],
    [203999,
     '0022500224',
     'Nov 12 2025',
     1610612746,
     'LA',
     'Clippers',
     'LAC',
     'FGM',
     18,
     8,
     '2025-11-12T00:00:00'],
    [203999,
     '0022500274',
     'Nov 22 2025',
     1610612758,
     'Sacramento',
     'Kings',
     'SAC',
     'FGA',
     28,
     9,
     '2025-11-22T00:00:00'],
    [203999,

In [ ]:
from nba_api.live.nba.endpoints import scoreboard

# Today's Score Board
games = scoreboard.ScoreBoard()

# json
games.get_json()

# dictionary
games.get_dict()

{'meta': {'version': 1,
  'request': 'https://nba-prod-us-east-1-mediaops-stats.s3.amazonaws.com/NBA/liveData/scoreboard/todaysScoreboard_00.json',
  'time': '2025-12-29 07:16:05.165',
  'code': 200},
 'scoreboard': {'gameDate': '2025-12-28',
  'leagueId': '00',
  'leagueName': 'National Basketball Association',
  'games': [{'gameId': '0022500441',
    'gameCode': '20251228/GSWTOR',
    'gameStatus': 3,
    'gameStatusText': 'Final/OT',
    'period': 5,
    'gameClock': '',
    'gameTimeUTC': '2025-12-28T20:30:00Z',
    'gameEt': '2025-12-28T15:30:00Z',
    'regulationPeriods': 4,
    'ifNecessary': False,
    'seriesGameNumber': '',
    'gameLabel': '',
    'gameSubLabel': '',
    'seriesText': '',
    'seriesConference': '',
    'poRoundDesc': '',
    'gameSubtype': '',
    'isNeutral': False,
    'homeTeam': {'teamId': 1610612761,
     'teamName': 'Raptors',
     'teamCity': 'Toronto',
     'teamTricode': 'TOR',
     'wins': 19,
     'losses': 14,
     'score': 141,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 1,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 33},
      {'period': 2, 'periodType': 'REGULAR', 'score': 32},
      {'period': 3, 'periodType': 'REGULAR', 'score': 31},
      {'period': 4, 'periodType': 'REGULAR', 'score': 26},
      {'period': 5, 'periodType': 'OVERTIME', 'score': 19}]},
    'awayTeam': {'teamId': 1610612744,
     'teamName': 'Warriors',
     'teamCity': 'Golden State',
     'teamTricode': 'GSW',
     'wins': 16,
     'losses': 16,
     'score': 127,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 0,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 29},
      {'period': 2, 'periodType': 'REGULAR', 'score': 35},
      {'period': 3, 'periodType': 'REGULAR', 'score': 36},
      {'period': 4, 'periodType': 'REGULAR', 'score': 22},
      {'period': 5, 'periodType': 'OVERTIME', 'score': 5}]},
    'gameLeaders': {'homeLeaders': {'personId': 1630567,
      'name': 'Scottie Barnes',
      'jerseyNum': '4',
      'position': 'F-G',
      'teamTricode': 'TOR',
      'playerSlug': None,
      'points': 23,
      'rebounds': 25,
      'assists': 10},
     'awayLeaders': {'personId': 201939,
      'name': 'Stephen Curry',
      'jerseyNum': '30',
      'position': 'G',
      'teamTricode': 'GSW',
      'playerSlug': None,
      'points': 39,
      'rebounds': 3,
      'assists': 4}},
    'pbOdds': {'team': None, 'odds': 0.0, 'suspended': 0}},
   {'gameId': '0022500442',
    'gameCode': '20251228/PHIOKC',
    'gameStatus': 3,
    'gameStatusText': 'Final',
    'period': 4,
    'gameClock': '',
    'gameTimeUTC': '2025-12-28T20:30:00Z',
    'gameEt': '2025-12-28T15:30:00Z',
    'regulationPeriods': 4,
    'ifNecessary': False,
    'seriesGameNumber': '',
    'gameLabel': '',
    'gameSubLabel': '',
    'seriesText': '',
    'seriesConference': '',
    'poRoundDesc': '',
    'gameSubtype': '',
    'isNeutral': False,
    'homeTeam': {'teamId': 1610612760,
     'teamName': 'Thunder',
     'teamCity': 'Oklahoma City',
     'teamTricode': 'OKC',
     'wins': 27,
     'losses': 5,
     'score': 129,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 1,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 32},
      {'period': 2, 'periodType': 'REGULAR', 'score': 32},
      {'period': 3, 'periodType': 'REGULAR', 'score': 38},
      {'period': 4, 'periodType': 'REGULAR', 'score': 27}]},
    'awayTeam': {'teamId': 1610612755,
     'teamName': '76ers',
     'teamCity': 'Philadelphia',
     'teamTricode': 'PHI',
     'wins': 16,
     'losses': 14,
     'score': 104,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 1,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 29},
      {'period': 2, 'periodType': 'REGULAR', 'score': 33},
      {'period': 3, 'periodType': 'REGULAR', 'score': 24},
      {'period': 4, 'periodType': 'REGULAR', 'score': 18}]},
    'gameLeaders': {'homeLeaders': {'personId': 1631096,
      'name': 'Chet Holmgren',
      'jerseyNum': '7',
      'position': 'C-F',
      'teamTricode': 'OKC',
      'playerSlug': None,
      'points': 29,
      'rebounds': 9,
      'assists': 1},
     'awayLeaders': {'personId': 1630178,
      'name': 'Tyrese Maxey',
      'jerseyNum': '0',
      'position': 'G',
      'teamTricode': 'PHI',
      'playerSlug': None,
      'points': 28,
      'rebounds': 2,
      'assists': 5}},
    'pbOdds': {'team': None, 'odds': 0.0, 'suspended': 0}},
   {'gameId': '0022500443',
    'gameCode': '20251228/MEMWAS',
    'gameStatus': 3,
    'gameStatusText': 'Final',
    'period': 4,
    'gameClock': '',
    'gameTimeUTC': '2025-12-28T23:00:00Z',
    'gameEt': '2025-12-28T18:00:00Z',
    'regulationPeriods': 4,
    'ifNecessary': False,
    'seriesGameNumber': '',
    'gameLabel': '',
    'gameSubLabel': '',
    'seriesText': '',
    'seriesConference': '',
    'poRoundDesc': '',
    'gameSubtype': '',
    'isNeutral': False,
    'homeTeam': {'teamId': 1610612764,
     'teamName': 'Wizards',
     'teamCity': 'Washington',
     'teamTricode': 'WAS',
     'wins': 7,
     'losses': 23,
     'score': 116,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 0,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 25},
      {'period': 2, 'periodType': 'REGULAR', 'score': 35},
      {'period': 3, 'periodType': 'REGULAR', 'score': 24},
      {'period': 4, 'periodType': 'REGULAR', 'score': 32}]},
    'awayTeam': {'teamId': 1610612763,
     'teamName': 'Grizzlies',
     'teamCity': 'Memphis',
     'teamTricode': 'MEM',
     'wins': 15,
     'losses': 17,
     'score': 112,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 0,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 27},
      {'period': 2, 'periodType': 'REGULAR', 'score': 32},
      {'period': 3, 'periodType': 'REGULAR', 'score': 29},
      {'period': 4, 'periodType': 'REGULAR', 'score': 24}]},
    'gameLeaders': {'homeLeaders': {'personId': 1642259,
      'name': 'Alex Sarr',
      'jerseyNum': '20',
      'position': 'C',
      'teamTricode': 'WAS',
      'playerSlug': None,
      'points': 20,
      'rebounds': 9,
      'assists': 1},
     'awayLeaders': {'personId': 1628991,
      'name': 'Jaren Jackson Jr.',
      'jerseyNum': '8',
      'position': 'F-C',
      'teamTricode': 'MEM',
      'playerSlug': None,
      'points': 31,
      'rebounds': 8,
      'assists': 1}},
    'pbOdds': {'team': None, 'odds': 0.0, 'suspended': 0}},
   {'gameId': '0022500444',
    'gameCode': '20251228/BOSPOR',
    'gameStatus': 3,
    'gameStatusText': 'Final',
    'period': 4,
    'gameClock': '',
    'gameTimeUTC': '2025-12-28T23:00:00Z',
    'gameEt': '2025-12-28T18:00:00Z',
    'regulationPeriods': 4,
    'ifNecessary': False,
    'seriesGameNumber': '',
    'gameLabel': '',
    'gameSubLabel': '',
    'seriesText': '',
    'seriesConference': '',
    'poRoundDesc': '',
    'gameSubtype': '',
    'isNeutral': False,
    'homeTeam': {'teamId': 1610612757,
     'teamName': 'Trail Blazers',
     'teamCity': 'Portland',
     'teamTricode': 'POR',
     'wins': 13,
     'losses': 19,
     'score': 114,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 1,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 31},
      {'period': 2, 'periodType': 'REGULAR', 'score': 24},
      {'period': 3, 'periodType': 'REGULAR', 'score': 31},
      {'period': 4, 'periodType': 'REGULAR', 'score': 28}]},
    'awayTeam': {'teamId': 1610612738,
     'teamName': 'Celtics',
     'teamCity': 'Boston',
     'teamTricode': 'BOS',
     'wins': 19,
     'losses': 12,
     'score': 108,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 0,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 30},
      {'period': 2, 'periodType': 'REGULAR', 'score': 33},
      {'period': 3, 'periodType': 'REGULAR', 'score': 22},
      {'period': 4, 'periodType': 'REGULAR', 'score': 23}]},
    'gameLeaders': {'homeLeaders': {'personId': 1630166,
      'name': 'Deni Avdija',
      'jerseyNum': '8',
      'position': 'F',
      'teamTricode': 'POR',
      'playerSlug': None,
      'points': 24,
      'rebounds': 7,
      'assists': 10},
     'awayLeaders': {'personId': 1627759,
      'name': 'Jaylen Brown',
      'jerseyNum': '7',
      'position': 'G-F',
      'teamTricode': 'BOS',
      'playerSlug': None,
      'points': 37,
      'rebounds': 7,
      'assists': 4}},
    'pbOdds': {'team': None, 'odds': 0.0, 'suspended': 0}},
   {'gameId': '0022500445',
    'gameCode': '20251228/DETLAC',
    'gameStatus': 3,
    'gameStatusText': 'Final',
    'period': 4,
    'gameClock': '',
    'gameTimeUTC': '2025-12-29T02:00:00Z',
    'gameEt': '2025-12-28T21:00:00Z',
    'regulationPeriods': 4,
    'ifNecessary': False,
    'seriesGameNumber': '',
    'gameLabel': '',
    'gameSubLabel': '',
    'seriesText': '',
    'seriesConference': '',
    'poRoundDesc': '',
    'gameSubtype': '',
    'isNeutral': False,
    'homeTeam': {'teamId': 1610612746,
     'teamName': 'Clippers',
     'teamCity': 'LA',
     'teamTricode': 'LAC',
     'wins': 10,
     'losses': 21,
     'score': 112,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 1,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 33},
      {'period': 2, 'periodType': 'REGULAR', 'score': 27},
      {'period': 3, 'periodType': 'REGULAR', 'score': 32},
      {'period': 4, 'periodType': 'REGULAR', 'score': 20}]},
    'awayTeam': {'teamId': 1610612765,
     'teamName': 'Pistons',
     'teamCity': 'Detroit',
     'teamTricode': 'DET',
     'wins': 24,
     'losses': 8,
     'score': 99,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 0,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 20},
      {'period': 2, 'periodType': 'REGULAR', 'score': 22},
      {'period': 3, 'periodType': 'REGULAR', 'score': 27},
      {'period': 4, 'periodType': 'REGULAR', 'score': 30}]},
    'gameLeaders': {'homeLeaders': {'personId': 202695,
      'name': 'Kawhi Leonard',
      'jerseyNum': '2',
      'position': 'F',
      'teamTricode': 'LAC',
      'playerSlug': None,
      'points': 55,
      'rebounds': 11,
      'assists': 2},
     'awayLeaders': {'personId': 1630595,
      'name': 'Cade Cunningham',
      'jerseyNum': '2',
      'position': 'G',
      'teamTricode': 'DET',
      'playerSlug': None,
      'points': 27,
      'rebounds': 5,
      'assists': 9}},
    'pbOdds': {'team': None, 'odds': 0.0, 'suspended': 0}},
   {'gameId': '0022500446',
    'gameCode': '20251228/SACLAL',
    'gameStatus': 3,
    'gameStatusText': 'Final',
    'period': 4,
    'gameClock': '',
    'gameTimeUTC': '2025-12-29T02:30:00Z',
    'gameEt': '2025-12-28T21:30:00Z',
    'regulationPeriods': 4,
    'ifNecessary': False,
    'seriesGameNumber': '',
    'gameLabel': '',
    'gameSubLabel': '',
    'seriesText': '',
    'seriesConference': '',
    'poRoundDesc': '',
    'gameSubtype': '',
    'isNeutral': False,
    'homeTeam': {'teamId': 1610612747,
     'teamName': 'Lakers',
     'teamCity': 'Los Angeles',
     'teamTricode': 'LAL',
     'wins': 20,
     'losses': 10,
     'score': 125,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 1,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 30},
      {'period': 2, 'periodType': 'REGULAR', 'score': 38},
      {'period': 3, 'periodType': 'REGULAR', 'score': 31},
      {'period': 4, 'periodType': 'REGULAR', 'score': 26}]},
    'awayTeam': {'teamId': 1610612758,
     'teamName': 'Kings',
     'teamCity': 'Sacramento',
     'teamTricode': 'SAC',
     'wins': 8,
     'losses': 24,
     'score': 101,
     'seed': None,
     'inBonus': None,
     'timeoutsRemaining': 1,
     'periods': [{'period': 1, 'periodType': 'REGULAR', 'score': 24},
      {'period': 2, 'periodType': 'REGULAR', 'score': 29},
      {'period': 3, 'periodType': 'REGULAR', 'score': 27},
      {'period': 4, 'periodType': 'REGULAR', 'score': 21}]},
    'gameLeaders': {'homeLeaders': {'personId': 1629029,
      'name': 'Luka Don\x8di\x87',
      'jerseyNum': '77',
      'position': 'F-G',
      'teamTricode': 'LAL',
      'playerSlug': None,
      'points': 34,
      'rebounds': 5,
      'assists': 7},
     'awayLeaders': {'personId': 201942,
      'name': 'DeMar DeRozan',
      'jerseyNum': '10',
      'position': 'G-F',
      'teamTricode': 'SAC',
      'playerSlug': None,
      'points': 22,
      'rebounds': 4,
      'assists': 5}},
    'pbOdds': {'team': None, 'odds': 0.0, 'suspended': 0}}]}}

In [ ]:
from nba_api.stats.static import teams
nba_teams = teams.get_teams()

kings = [team for team in nba_teams if team ['full_name']=='Sacramento Kings'][0]
kings

{'id': 1610612758,
 'full_name': 'Sacramento Kings',
 'abbreviation': 'SAC',
 'nickname': 'Kings',
 'city': 'Sacramento',
 'state': 'California',
 'year_founded': 1948}

In [ ]:

from nba_api.stats.static import teams

nba_teams = teams.get_teams()
# Select the dictionary for the Celtics, which contains their team ID
celtics = [team for team in nba_teams if team['abbreviation'] == 'BOS'][0]
celtics_id = celtics['id']

In [ ]:
from nba_api.stats.endpoints import leaguegamefinder

# Query for games where the Celtics were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=celtics_id)
# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22025,1610612738,BOS,Boston Celtics,0022500444,2025-12-28,BOS @ POR,L,240,108,...,0.789,12,28,40,19,13,5,19,23,-6.0
1,22025,1610612738,BOS,Boston Celtics,0022500426,2025-12-26,BOS @ IND,W,240,140,...,0.765,12,31,43,26,8,3,12,22,18.0
2,22025,1610612738,BOS,Boston Celtics,0022500403,2025-12-22,BOS vs. IND,W,240,103,...,0.842,11,38,49,19,6,6,13,16,8.0
3,22025,1610612738,BOS,Boston Celtics,0022500388,2025-12-20,BOS @ TOR,W,240,112,...,0.800,17,38,55,22,7,4,9,21,16.0
4,22025,1610612738,BOS,Boston Celtics,0022500381,2025-12-19,BOS vs. MIA,W,241,129,...,0.833,6,40,46,25,8,8,14,19,13.0

In [ ]:
games_2324= games[games.SEASON_ID.str[-4:]=='2023']
games_2324.head

<bound method NDFrame.head of     SEASON_ID     TEAM_ID TEAM_ABBREVIATION       TEAM_NAME     GAME_ID  \
133     42023  1610612738               BOS  Boston Celtics  0042300405
134     42023  1610612738               BOS  Boston Celtics  0042300404
135     42023  1610612738               BOS  Boston Celtics  0042300403
136     42023  1610612738               BOS  Boston Celtics  0042300402
137     42023  1610612738               BOS  Boston Celtics  0042300401
..        ...         ...               ...             ...         ...
234     12023  1610612738               BOS  Boston Celtics  0012300060
235     12023  1610612738               BOS  Boston Celtics  0012300051
236     12023  1610612738               BOS  Boston Celtics  0012300023
237     12023  1610612738               BOS  Boston Celtics  0012300010
238     12023  1610612738               BOS  Boston Celtics  0012300006

      GAME_DATE      MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB  REB  AST  \
133  2024-06-17  BOS vs. DAL  W  240  106  ...   0.850    15    36   51   25
134  2024-06-14    BOS @ DAL  L  239   84  ...   0.923     4    27   31   18
135  2024-06-12    BOS @ DAL  W  240  106  ...   0.929     6    30   36   26
136  2024-06-09  BOS vs. DAL  W  239  105  ...   0.950    10    31   41   29
137  2024-06-06  BOS vs. DAL  W  241  107  ...   0.684    10    37   47   23
..          ...          ... ..  ...  ...  ...     ...   ...   ...  ...  ...
234  2023-10-19    BOS @ CHA  W  239  127  ...   0.647    16    39   55   34
235  2023-10-17  BOS vs. NYK  W  240  123  ...   0.800    13    33   46   26
236  2023-10-11    BOS @ PHI  W  240  112  ...   0.870     8    39   47   24
237  2023-10-09    BOS @ NYK  L  241  107  ...   0.789    17    33   50   19
238  2023-10-08  BOS vs. PHI  W  241  114  ...   0.765    12    37   49   19

     STL  BLK  TOV  PF  PLUS_MINUS
133    9    2    7  15        18.0
134    2    5   13  19       -38.0
135    4    6    9  19         7.0
136   10    5   10  15         7.0
137    6    9   12  16        18.0
..   ...  ...  ...  ..         ...
234   22    6   15  19        28.0
235    8    4   13  14        13.0
236    5    4   17  16        11.0
237    7    3   17  29        -7.0
238    8    6   16  21         8.0

[106 rows x 28 columns]>

In [ ]:
dal_games_2024=games_2324 [games_2324.MATCHUP.str.contains('DAL')]
dal_games_2024.head

<bound method NDFrame.head of     SEASON_ID     TEAM_ID TEAM_ABBREVIATION       TEAM_NAME     GAME_ID  \
133     42023  1610612738               BOS  Boston Celtics  0042300405
134     42023  1610612738               BOS  Boston Celtics  0042300404
135     42023  1610612738               BOS  Boston Celtics  0042300403
136     42023  1610612738               BOS  Boston Celtics  0042300402
137     42023  1610612738               BOS  Boston Celtics  0042300401
175     22023  1610612738               BOS  Boston Celtics  0022300859
190     22023  1610612738               BOS  Boston Celtics  0022300611

      GAME_DATE      MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB  REB  AST  \
133  2024-06-17  BOS vs. DAL  W  240  106  ...   0.850    15    36   51   25
134  2024-06-14    BOS @ DAL  L  239   84  ...   0.923     4    27   31   18
135  2024-06-12    BOS @ DAL  W  240  106  ...   0.929     6    30   36   26
136  2024-06-09  BOS vs. DAL  W  239  105  ...   0.950    10    31   41   29
137  2024-06-06  BOS vs. DAL  W  241  107  ...   0.684    10    37   47   23
175  2024-03-01  BOS vs. DAL  W  240  138  ...   1.000     9    38   47   33
190  2024-01-22    BOS @ DAL  W  240  119  ...   0.733     5    39   44   26

     STL  BLK  TOV  PF  PLUS_MINUS
133    9    2    7  15        18.0
134    2    5   13  19       -38.0
135    4    6    9  19         7.0
136   10    5   10  15         7.0
137    6    9   12  16        18.0
175    4    8    9  15        28.0
190    7    8    6  20         9.0

[7 rows x 28 columns]>

In [ ]:
import pandas as pd

df = pd.read_csv(
    r"C:\Nbaprojekt\team_traditional_2.csv",
    sep=";",
    decimal=",",
    dtype={"gameid": str}
)

df.head()
df.columns
df.dtypes

gameid     object
date       object
type       object
teamid      int64
team       object
home       object
away       object
MIN         int64
PTS         int64
FGM         int64
FGA         int64
FG%       float64
3PM         int64
3PA         int64
3P%       float64
FTM         int64
FTA         int64
FT%       float64
OREB        int64
DREB        int64
REB         int64
AST         int64
TOV       float64
STL         int64
BLK         int64
PF          int64
+/-       float64
win         int64
season      int64
dtype: object

In [ ]:
df['gameid_norm']= df['gameid'].str.zfill(10)
df

,gameid,date,type,teamid,team,home,away,MIN,PTS,FGM,...,REB,AST,TOV,STL,BLK,PF,+/-,win,season,gameid_norm
0,29600001,01.11.96,regular,1610612738,BOS,BOS,CHI,48,98,38,...,36,20,18.0,10,2,33,-9.0,0,1997,0029600001
1,29600001,01.11.96,regular,1610612741,CHI,BOS,CHI,48,107,42,...,37,28,19.0,7,8,23,9.0,1,1997,0029600001
2,29600002,01.11.96,regular,1610612739,CLE,NJN,CLE,48,90,34,...,35,16,15.0,11,1,24,13.0,1,1997,0029600002
3,29600002,01.11.96,regular,1610612751,NJN,NJN,CLE,48,77,23,...,35,13,22.0,7,7,19,-13.0,0,1997,0029600002
4,29600003,01.11.96,regular,1610612749,MIL,PHI,MIL,48,111,38,...,50,21,15.0,9,7,30,8.0,1,1997,0029600003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68205,42300403,12.06.24,playoff,1610612742,DAL,DAL,BOS,48,99,38,...,43,15,9.0,5,1,17,-7.0,0,2024,0042300403
68206,42300404,14.06.24,playoff,1610612738,BOS,DAL,BOS,48,84,29,...,31,18,14.0,2,5,19,-38.0,0,2024,0042300404
68207,42300404,14.06.24,playoff,1610612742,DAL,DAL,BOS,48,122,46,...,52,21,9.0,7,2,17,38.0,1,2024,0042300404
68208,42300405,17.06.24,playoff,1610612738,BOS,BOS,DAL,48,106,38,...,51,25,9.0,9,2,15,18.0,1,2024,0042300405
68209,42300405,17.06.24,playoff,1610612742,DAL,BOS,DAL,48,88,35,...,35,18,13.0,4,4,20,-18.0,0,2024,0042300405

In [ ]:
col = df.pop("gameid_norm")
df.insert(1, "gameid_norm", col)

In [ ]:
df["season"].value_counts().sort_index()

df["season"].max()

2024

In [ ]:
from nba_api.stats.endpoints import leaguegamefinder


games_2425 = leaguegamefinder.LeagueGameFinder(
    season_nullable="2024-25",
    season_type_nullable="Regular Season"
)
games_2425_df = games_2425.get_data_frames()[0]
games_2425_df.groupby("GAME_ID").size().value_counts().head(10)

games_2425_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22024,1610612751,BKN,Brooklyn Nets,0022401188,2025-04-13,BKN vs. NYK,L,239,105,...,0.680,6,36,42,21,4,2,18,24,-8.0
1,22024,1610612755,PHI,Philadelphia 76ers,0022401191,2025-04-13,PHI vs. CHI,L,240,102,...,0.857,10,38,48,20,7,6,14,15,-20.0
2,22024,1610612754,IND,Indiana Pacers,0022401189,2025-04-13,IND @ CLE,W,289,126,...,0.909,14,47,61,27,15,10,13,20,8.0
3,22024,1610612762,UTA,Utah Jazz,0022401195,2025-04-13,UTA @ MIN,L,241,105,...,0.818,9,31,40,24,6,5,13,15,-11.0
4,22024,1610612765,DET,Detroit Pistons,0022401192,2025-04-13,DET @ MIL,L,264,133,...,0.643,14,28,42,35,9,3,13,19,-7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,22024,1610612737,ATL,Atlanta Hawks,0022400064,2024-10-23,ATL vs. BKN,W,241,120,...,0.717,12,33,45,25,12,9,16,20,4.0
2456,22024,1610612752,NYK,New York Knicks,0022400061,2024-10-22,NYK @ BOS,L,241,109,...,0.750,5,29,34,20,2,3,11,12,-23.0
2457,22024,1610612738,BOS,Boston Celtics,0022400061,2024-10-22,BOS vs. NYK,W,240,132,...,0.875,11,29,40,33,6,3,3,15,23.0
2458,22024,1610612750,MIN,Minnesota Timberwolves,0022400062,2024-10-22,MIN @ LAL,L,239,103,...,0.741,12,35,47,17,4,1,15,22,-7.0
2459,22024,1610612747,LAL,Los Angeles Lakers,0022400062,2024-10-22,LAL vs. MIN,W,240,110,...,0.840,15,31,46,22,7,8,7,22,7.0

In [ ]:
games_2425_df.head()
games_2425_df.columns
len(games_2425_df)

2460

In [ ]:
games_2425_df[games_2425_df["GAME_ID"] == "0022401188"][["GAME_ID","TEAM_ABBREVIATION","MATCHUP","WL","PTS"]]

      GAME_ID TEAM_ABBREVIATION      MATCHUP WL  PTS
0  0022401188               BKN  BKN vs. NYK  L  105
8  0022401188               NYK    NYK @ BKN  W  113

In [ ]:
expected_ids = set(games_2425_df["GAME_ID"].astype(str))
have_ids = set(df["gameid_norm"])

missing_2425 = sorted(expected_ids - have_ids)

len(missing_2425), missing_2425[:5]

(1230, ['0022400001', '0022400002', '0022400003', '0022400004', '0022400005'])

In [ ]:
from nba_api.stats.endpoints import boxscoretraditionalv2
import pandas as pd
import time

test_ids = missing_2425[:3]  # nur 3 Spiele zum Test

team_parts = []
for gid in test_ids:
    bs = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id=gid)
    team_df = bs.get_data_frames()[1]   # TEAM_STATS ist Index 1
    team_df["GAME_ID"] = gid
    team_parts.append(team_df)
    time.sleep(2.6)

team_test = pd.concat(team_parts, ignore_index=True)

team_test[["GAME_ID","TEAM_ID","PTS","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT","FTM","FTA","FT_PCT","PLUS_MINUS"]].head(10)

C:\Users\Ntamb\AppData\Local\Temp\ipykernel_15260\2708645179.py:9: DeprecationWarning: BoxScoreTraditionalV2 is deprecated and will be removed in a future version. Please use BoxScoreTraditionalV3 instead. Data is no longer being published for BoxScoreTraditionalV2 as of the 2025-26 NBA season.
  bs = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id=gid)

,GAME_ID,TEAM_ID,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,PLUS_MINUS
0,0022400001,1610612738,116,38,75,0.507,18,45,0.400,22,27,0.815,-1
1,0022400001,1610612737,117,50,99,0.505,10,32,0.313,7,13,0.538,1
2,0022400002,1610612748,121,47,101,0.465,17,45,0.378,10,13,0.769,-2
3,0022400002,1610612765,123,43,92,0.467,13,36,0.361,24,28,0.857,2
4,0022400003,1610612753,114,43,93,0.462,13,44,0.295,15,19,0.789,25
5,0022400003,1610612766,89,34,84,0.405,13,38,0.342,8,14,0.571,-25

In [ ]:
meta = games_2425_df[[
    "GAME_ID", "TEAM_ID", "TEAM_ABBREVIATION", "GAME_DATE", "MATCHUP", "WL"
]].copy()

meta["GAME_ID"] = meta["GAME_ID"].astype(str)

In [ ]:
merged = team_test.merge(
    meta,
    on=["GAME_ID", "TEAM_ID"],
    how="left"
)

In [ ]:
merged.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION_x', 'TEAM_CITY',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'TEAM_ABBREVIATION_y', 'GAME_DATE', 'MATCHUP', 'WL'],
      dtype='object')

In [ ]:
merged[["GAME_ID","TEAM_ABBREVIATION_y","MATCHUP","WL","PTS","PLUS_MINUS"]].head(6)

      GAME_ID TEAM_ABBREVIATION_y      MATCHUP WL  PTS  PLUS_MINUS
0  0022400001                 BOS  BOS vs. ATL  L  116          -1
1  0022400001                 ATL    ATL @ BOS  W  117           1
2  0022400002                 MIA    MIA @ DET  L  121          -2
3  0022400002                 DET  DET vs. MIA  W  123           2
4  0022400003                 ORL  ORL vs. CHA  W  114          25
5  0022400003                 CHA    CHA @ ORL  L   89         -25

In [ ]:
merged["team"] = merged["TEAM_ABBREVIATION_y"]

In [ ]:
opp = merged["MATCHUP"].str.split().str[-1]   # letzter Token ist Opponent (NYK)
is_home = merged["MATCHUP"].str.contains("vs.")

merged["home"] = merged["team"].where(is_home, opp)
merged["away"] = opp.where(is_home, merged["team"])

In [ ]:
merged[["GAME_ID","team","MATCHUP","home","away"]].head(10)

      GAME_ID team      MATCHUP home away
0  0022400001  BOS  BOS vs. ATL  BOS  ATL
1  0022400001  ATL    ATL @ BOS  BOS  ATL
2  0022400002  MIA    MIA @ DET  DET  MIA
3  0022400002  DET  DET vs. MIA  DET  MIA
4  0022400003  ORL  ORL vs. CHA  ORL  CHA
5  0022400003  CHA    CHA @ ORL  ORL  CHA

In [ ]:
merged["date"] = pd.to_datetime(merged["GAME_DATE"]).dt.strftime("%d.%m.%y") #datum

In [ ]:
merged["win"] = (merged["WL"] == "W").astype(int)

In [ ]:
merged["type"] = "regular"
merged["season"] = 2025  # weil 2024-25 in deiner CSV-Logik als 2025 gefhrt wird

In [ ]:
merged["gameid"] = merged["GAME_ID"]
merged["teamid"] = merged["TEAM_ID"]

In [ ]:
rename_map = {
    "PLUS_MINUS": "+/-",
    "FG_PCT": "FG%",
    "FG3M": "3PM",
    "FG3A": "3PA",
    "FG3_PCT": "3P%",
    "FT_PCT": "FT%",
}
merged = merged.rename(columns=rename_map)

In [ ]:
cols = ["gameid","date","type","teamid","team","home","away",
        "MIN","PTS","FGM","FGA","FG%","3PM","3PA","3P%",
        "FTM","FTA","FT%","OREB","DREB","REB","AST","TOV","STL","BLK","PF","+/-","win","season"]

final_test = merged[cols].copy()
final_test.head(6)

In [ ]:
import pandas as pd
merged["date"] = pd.to_datetime(merged["GAME_DATE"]).dt.strftime("%d.%m.%y")

In [ ]:
merged.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION_x', 'TEAM_CITY',
       'MIN', 'FGM', 'FGA', 'FG%', '3PM', '3PA', '3P%', 'FTM', 'FTA', 'FT%',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS', '+/-',
       'TEAM_ABBREVIATION_y', 'GAME_DATE', 'MATCHUP', 'WL', 'team', 'home',
       'away', 'win', 'type', 'season', 'gameid', 'teamid', 'date'],
      dtype='object')

In [ ]:
merged = merged.rename(columns={"TO": "TOV"})

In [ ]:
cols = ["gameid","date","type","teamid","team","home","away",
        "MIN","PTS","FGM","FGA","FG%","3PM","3PA","3P%",
        "FTM","FTA","FT%","OREB","DREB","REB","AST","TOV","STL","BLK","PF","+/-","win","season"]

final_test = merged[cols].copy()
final_test.head(6)

,gameid,date,type,teamid,team,home,away,MIN,PTS,FGM,...,DREB,REB,AST,TOV,STL,BLK,PF,+/-,win,season
0,0022400001,12.11.24,regular,1610612738,BOS,BOS,ATL,240:00,116,38,...,28,34,28,20,7,5,12,-1,0,2025
1,0022400001,12.11.24,regular,1610612737,ATL,BOS,ATL,240:00,117,50,...,25,44,35,16,16,2,17,1,1,2025
2,0022400002,12.11.24,regular,1610612748,MIA,DET,MIA,265:00,121,47,...,31,43,25,10,14,3,22,-2,0,2025
3,0022400002,12.11.24,regular,1610612765,DET,DET,MIA,265:00,123,43,...,41,56,32,19,4,4,19,2,1,2025
4,0022400003,12.11.24,regular,1610612753,ORL,ORL,CHA,240:00,114,43,...,35,43,25,11,12,7,21,25,1,2025
5,0022400003,12.11.24,regular,1610612766,CHA,ORL,CHA,240:00,89,34,...,40,48,22,22,7,3,18,-25,0,2025

In [ ]:
min_minutes = merged["MIN"].str.split(":").str[0].astype(int)
merged["MIN"] = (min_minutes / 5).astype(int)

In [ ]:
merged[["FGM", "FGA", "FG%"]].head(10)

   FGM  FGA    FG%
0   38   75  0.507
1   50   99  0.505
2   47  101  0.465
3   43   92  0.467
4   43   93  0.462
5   34   84  0.405

In [ ]:
from nba_api.stats.endpoints import boxscoretraditionalv2
import pandas as pd
import time

meta = games_2425_df[["GAME_ID","TEAM_ID","TEAM_ABBREVIATION","GAME_DATE","MATCHUP","WL"]].copy()
meta["GAME_ID"] = meta["GAME_ID"].astype(str)

In [ ]:
done_ids = set(cp["gameid"].unique())
remaining = [gid for gid in missing_2425 if gid not in done_ids]

In [ ]:
cp = pd.read_csv(
    r"C:\Users\Ntamb\Documents\nba_checkpoints\checkpoint_2425_regular_750.csv",
    sep=";",
    decimal=",",
    dtype={"gameid": str}
)

done_ids = set(cp["gameid"].unique())
remaining = [gid for gid in missing_2425 if gid not in done_ids]

print("done:", len(done_ids))
print("remaining:", len(remaining))
print("first remaining:", remaining[:5])

done: 745
remaining: 485
first remaining: ['0022400629', '0022400630', '0022400631', '0022400632', '0022400633']

In [ ]:
new_rows3 = []
failed3 = []

for i, gid in enumerate(still_missing, start=1):
    ok = False

    for attempt in range(1, 6):
        try:
            bs = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id=gid, timeout=30)
            team_df = bs.get_data_frames()[1].copy()
            team_df["GAME_ID"] = gid
            ok = True
            break
        except Exception as e:
            if attempt == 5:
                failed3.append((gid, type(e).__name__, str(e)[:200]))
            time.sleep(3 * attempt)

    if ok:
        m = team_df.merge(meta, on=["GAME_ID","TEAM_ID"], how="left")

        m["team"] = m["TEAM_ABBREVIATION_y"]
        opp = m["MATCHUP"].str.split().str[-1]
        is_home = m["MATCHUP"].str.contains("vs\.")
        m["home"] = m["team"].where(is_home, opp)
        m["away"] = opp.where(is_home, m["team"])
        m["win"] = (m["WL"] == "W").astype(int)
        m["date"] = pd.to_datetime(m["GAME_DATE"]).dt.strftime("%d.%m.%y")

        m["type"] = "regular"
        m["season"] = 2025
        m["gameid"] = m["GAME_ID"]
        m["teamid"] = m["TEAM_ID"]

        if "TO" in m.columns:
            m = m.rename(columns={"TO": "TOV"})

        cols = ["gameid","date","type","teamid","team","home","away",
                "MIN","PTS","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT",
                "FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PLUS_MINUS",
                "win","season"]

        rename_map = {
            "FG_PCT": "FG%",
            "FG3M": "3PM",
            "FG3A": "3PA",
            "FG3_PCT": "3P%",
            "FT_PCT": "FT%",
            "PLUS_MINUS": "+/-",
        }

        new_rows3.append(m[cols].rename(columns=rename_map))

    time.sleep(2.0)

print("done:", len(new_rows3), "failed3:", len(failed3))

In [140]:
len(new_rows3), len(failed3)

(35, 0)

In [156]:
tmp_before = tmp["gameid"].nunique()

tmp = pd.concat([tmp, new35], ignore_index=True)
tmp = tmp.drop_duplicates(subset=["gameid", "teamid"])  # schtzt vor Doppelungen

tmp_after = tmp["gameid"].nunique()
print("before:", tmp_before, "after:", tmp_after, "added:", tmp_after - tmp_before)

before: 1195 after: 1230 added: 35

In [174]:
print("Games:", tmp["gameid"].nunique())   # 1230
print("Rows:", len(tmp))                   # 2460
print(tmp.groupby("gameid").size().value_counts())

Games: 1230
Rows: 2460
2    1230
Name: count, dtype: int64

In [183]:
tmp.to_csv(
    r"C:\Users\Ntamb\Documents\nba_team_traditional_2024_25_regular.csv",
    sep=";",
    decimal=",",
    index=False
)

In [ ]:
new35 = pd.concat(new_rows3, ignore_index=True)
new35["gameid"].nunique(), len(new35)

(35, 70)

In [195]:
pd.to_datetime(tmp["date"], dayfirst=True).max()

C:\Users\Ntamb\AppData\Local\Temp\ipykernel_15260\1563712885.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(tmp["date"], dayfirst=True).max()

Timestamp('2025-04-13 00:00:00')

In [212]:
tmp_sorted = tmp.sort_values(
    by=["season", "date", "gameid", "teamid"],
    key=lambda s: pd.to_datetime(s, dayfirst=True) if s.name=="date" else s
)

tmp_sorted.head(-10)
tmp_sorted.tail(-10)

C:\Users\Ntamb\AppData\Local\Temp\ipykernel_15260\3405490466.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  key=lambda s: pd.to_datetime(s, dayfirst=True) if s.name=="date" else s

,gameid,date,type,teamid,team,home,away,MIN,PTS,FGM,...,DREB,REB,AST,TOV,STL,BLK,PF,+/-,win,season
131,0022400066,23.10.24,regular,1610612749,MIL,PHI,MIL,240:00,124,43,...,38,46,27,14,4,9,23,15,1,2025
130,0022400066,23.10.24,regular,1610612755,PHI,PHI,MIL,240:00,109,41,...,32,49,18,10,4,2,28,-15,0,2025
133,0022400067,23.10.24,regular,1610612739,CLE,TOR,CLE,240:00,136,51,...,28,36,29,12,10,9,22,30,1,2025
132,0022400067,23.10.24,regular,1610612761,TOR,TOR,CLE,240:00,106,36,...,24,38,25,18,8,6,24,-30,0,2025
134,0022400068,23.10.24,regular,1610612745,HOU,HOU,CHA,240:00,105,38,...,27,43,19,8,8,4,18,-5,0,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,0022401198,13.04.25,regular,1610612746,LAC,GSW,LAC,265:00,124,48,...,33,42,28,16,11,3,21,5,1,2025
2397,0022401199,13.04.25,regular,1610612747,LAL,POR,LAL,240:00,81,31,...,29,42,21,20,9,11,21,-28,0,2025
2396,0022401199,13.04.25,regular,1610612757,POR,POR,LAL,240:00,109,42,...,29,56,27,14,7,6,16,28,1,2025
2399,0022401200,13.04.25,regular,1610612756,PHX,SAC,PHX,240:00,98,40,...,28,37,28,11,6,1,9,-11,0,2025
2398,0022401200,13.04.25,regular,1610612758,SAC,SAC,PHX,240:00,109,46,...,33,43,31,11,6,4,7,11,1,2025

In [221]:
# 1) Saison-Grenzen
dates = pd.to_datetime(tmp_sorted["date"], dayfirst=True)
print("min date:", dates.min())
print("max date:", dates.max())

# 2) Vollstndigkeit
print("games:", tmp_sorted["gameid"].nunique())
print("rows:", len(tmp_sorted))

# 3) Jedes Spiel genau 2 Teams
print(tmp_sorted.groupby("gameid").size().value_counts())

min date: 2024-10-22 00:00:00
max date: 2025-04-13 00:00:00
games: 1230
rows: 2460
2    1230
Name: count, dtype: int64

C:\Users\Ntamb\AppData\Local\Temp\ipykernel_15260\2260048648.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dates = pd.to_datetime(tmp_sorted["date"], dayfirst=True)

In [230]:
export_path = r"C:\Users\Ntamb\Documents\nba_team_traditional_2024_25_regular.csv"

tmp_sorted.to_csv(
    export_path,
    sep=";",
    decimal=",",
    index=False
)

export_path

'C:\\Users\\Ntamb\\Documents\\nba_team_traditional_2024_25_regular.csv'

In [279]:
import pandas as pd

old = pd.read_csv(r"C:\Nbaprojekt\team_traditional_2.csv", sep=";", decimal=",", dtype={"gameid": str, "teamid": str})
new = tmp_sorted.copy()

new["gameid"] = new["gameid"].astype(str)
new["teamid"] = new["teamid"].astype(str)

In [288]:
set(old.columns) - set(new.columns), set(new.columns) - set(old.columns)

(set(), set())

In [289]:
old["gameid"] = old["gameid"].astype(str).str.zfill(10)
new["gameid"] = new["gameid"].astype(str).str.zfill(10)

old["teamid"] = old["teamid"].astype(str)
new["teamid"] = new["teamid"].astype(str)

In [305]:
all_games = all_games.drop_duplicates(subset=["gameid", "teamid"])

In [314]:
all_games["date_dt"] = pd.to_datetime(all_games["date"], dayfirst=True)

all_games = all_games.sort_values(
    ["season", "date_dt", "gameid", "teamid"]
).drop(columns=["date_dt"])

C:\Users\Ntamb\AppData\Local\Temp\ipykernel_15260\3486295014.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  all_games["date_dt"] = pd.to_datetime(all_games["date"], dayfirst=True)

In [323]:
print("Seasons:", all_games["season"].unique())
print("Games per season:")
print(all_games.groupby("season")["gameid"].nunique())
print(all_games.groupby("gameid").size().value_counts().head())

Seasons: [1997 1998 1999 2000 2001 2002 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023 2024 2025]
Games per season:
season
1997    1261
1998    1260
1999     791
2000    1264
2001    1260
2002    1260
2004    1271
2005    1314
2006    1319
2007    1309
2008    1316
2009    1315
2010    1312
2011    1311
2012    1074
2013    1314
2014    1319
2015    1311
2016    1316
2017    1309
2018    1312
2019    1312
2020    1143
2021    1171
2022    1323
2023    1320
2024    1318
2025    1230
Name: gameid, dtype: int64
2    35335
Name: count, dtype: int64

In [348]:
pct_cols = ["FG%", "3P%", "FT%"]

for c in pct_cols:
    all_games[c] = all_games[c].astype(float)
    all_games.loc[all_games[c] <= 1, c] = (all_games.loc[all_games[c] <= 1, c] * 100).round(1)

In [353]:
# nur die Zeilen, wo MIN wie "240:00" aussieht
mask = all_games["MIN"].astype(str).str.contains(":", na=False)

# sicher als String behandeln
min_str = all_games.loc[mask, "MIN"].astype(str)

minutes_raw = min_str.str.split(":").str[0].astype(int)
all_games.loc[mask, "MIN"] = (minutes_raw / 5).astype(int)

In [511]:
final_df = all_games.copy()

In [532]:
s = final_df["MIN"].astype(str).str.strip()
team_min = pd.to_numeric(s.str.extract(r"^(\d+):")[0], errors="coerce")
min_numeric = pd.to_numeric(s, errors="coerce")
final_df["MIN"] = team_min.div(5).where(team_min.notna(), min_numeric).round().astype("Int64")

In [553]:
pct_cols = ["FG%", "3P%", "FT%"]
for c in pct_cols:
    final_df[c] = pd.to_numeric(final_df[c], errors="coerce")
    m = final_df[c] <= 1
    final_df.loc[m, c] = (final_df.loc[m, c] * 100).round(1)

In [573]:
final_df["MIN"].value_counts().head(6)
final_df[pct_cols].describe()

                FG%           3P%           FT%
count  70670.000000  70670.000000  70670.000000
mean      45.620642     35.336871     75.972063
std        5.677086     11.430196     10.205978
min       23.400000      0.000000      0.000000
25%       41.800000     28.100000     69.600000
50%       45.500000     35.300000     76.500000
75%       49.400000     42.900000     83.300000
max       69.300000    100.000000    100.000000

In [ ]:
out_path = r"C:\Users\Ntamb\Documents\nba_FINAL_ready.csv"
final_df.to_csv(out_path, sep=";", decimal=",", index=False)
out_path

In [595]:
all_games["MIN"].value_counts().head(10)

MIN
48        64131
53         3498
240:00     2340
58          482
265:00      112
63           82
68           12
290:00        8
47            5
Name: count, dtype: int64

In [596]:
all_games[pct_cols].head()
all_games[pct_cols].describe()

                FG%           3P%           FT%
count  70670.000000  70670.000000  70670.000000
mean      44.007074     34.096623     73.284711
std        9.975834     13.016181     17.032464
min        0.293000      0.000000      0.000000
25%       41.200000     27.000000     68.400000
50%       45.200000     34.800000     76.000000
75%       49.300000     42.300000     82.600000
max       69.300000    100.000000    100.000000

In [597]:
import pandas as pd

s = all_games["MIN"].astype(str)

mask = s.str.contains(":", na=False)

# z.B. "240:00" -> 240 -> /5 -> 48
minutes_raw = s[mask].str.split(":").str[0].astype(int)
all_games.loc[mask, "MIN"] = (minutes_raw / 5).astype(int)

# optional: am Ende MIN als int erzwingen
all_games["MIN"] = pd.to_numeric(all_games["MIN"], errors="coerce").astype("Int64")

In [598]:
import pandas as pd

# 1) immer als string betrachten
s = all_games["MIN"].astype(str).str.strip()

# 2) wenn Format "240:00" -> nimm die Zahl vor dem :
team_min = pd.to_numeric(s.str.extract(r"^(\d+):")[0], errors="coerce")

# 3) wo team_min existiert: /5 = Spielminuten, sonst behalte die Zahl (z.B. "48")
min_numeric = pd.to_numeric(s, errors="coerce")

all_games["MIN"] = team_min.div(5).where(team_min.notna(), min_numeric)

# 4) optional: runden & int
all_games["MIN"] = all_games["MIN"].round().astype("Int64")

all_games["MIN"].value_counts().head(10)

MIN
48    66471
53     3610
58      490
63       82
68       12
47        5
Name: count, dtype: Int64

In [599]:
all_games[["MIN","FG%","3P%","FT%"]].head()

   MIN   FG%   3P%   FT%
0   48  45.2  40.0  60.9
1   48  56.8   7.7  68.8
2   48  47.2  50.0  85.0
3   48  39.7  50.0  66.7
4   48  45.2  44.4  70.5

In [ ]:
out_path = r"C:\Users\Ntamb\Documents\nba_traditional_all_seasons_final_v2.csv"

all_games.to_csv(out_path, sep=";", decimal=",", index=False)
out_path

In [601]:
pct_cols = ["FG%", "3P%", "FT%"]
for c in pct_cols:
    all_games[c] = pd.to_numeric(all_games[c], errors="coerce")
    m = all_games[c] <= 1
    all_games.loc[m, c] = (all_games.loc[m, c] * 100).round(1)

In [602]:
all_games[pct_cols].head()
all_games[pct_cols].describe()

                FG%           3P%           FT%
count  70670.000000  70670.000000  70670.000000
mean      45.620642     35.336871     75.972063
std        5.677086     11.430196     10.205978
min       23.400000      0.000000      0.000000
25%       41.800000     28.100000     69.600000
50%       45.500000     35.300000     76.500000
75%       49.400000     42.900000     83.300000
max       69.300000    100.000000    100.000000

In [603]:
all_games["FG%"] = (all_games["FGM"] / all_games["FGA"] * 100).round(1)
all_games["3P%"] = (all_games["3PM"] / all_games["3PA"] * 100).round(1)
all_games["FT%"] = (all_games["FTM"] / all_games["FTA"] * 100).round(1)

# Bei 0 Versuchen -> NaN statt inf
for c in ["FG%", "3P%", "FT%"]:
    all_games.loc[~all_games[c].replace([float("inf")], pd.NA).notna(), c] = pd.NA

In [ ]:
out_path = r"C:\Users\Ntamb\Documents\nba_traditional_all_season_FINAL.csv"
all_games.to_csv(out_path, sep=";", decimal=",", index=False)
out_path

In [605]:
pct_cols = ["FG%", "3P%", "FT%"]

for c in pct_cols:
    all_games[c] = pd.to_numeric(all_games[c], errors="coerce")
    mask = all_games[c] <= 1
    all_games.loc[mask, c] = (all_games.loc[mask, c] * 100).round(1)

In [606]:
all_games[pct_cols].head()

    FG%   3P%   FT%
0  45.2  40.0  60.9
1  56.8   7.7  68.8
2  47.2  50.0  85.0
3  39.7  50.0  66.7
4  45.2  44.4  70.5

In [ ]:
out_path = r"C:\Users\Ntamb\Documents\nba_traditional_all_seasons_FINAL_APPLIED.csv"

all_games.to_csv(
    out_path,
    sep=";",
    decimal=",",
    index=False
)

out_path

In [ ]:
out_path = r"C:\Users\Ntamb\Documents\nba_traditional_all_seasons_FINAL.csv"
all_games.to_csv(out_path, sep=";", decimal=",", index=False)
out_path

In [609]:
all_games.to_csv(
    r"C:\Users\Ntamb\Documents\nba_traditional_all_seasons.csv",
    sep=";",
    decimal=",",
    index=False
)

In [610]:
all_games = pd.concat([old, new], ignore_index=True)

In [611]:
print("games:", tmp["gameid"].nunique())
print("rows:", len(tmp))
print(tmp.groupby("gameid").size().value_counts().head())

games: 1230
rows: 2460
2    1230
Name: count, dtype: int64

In [26]:
import pandas as pd

all_games = pd.read_csv(
    r"C:\Users\Ntamb\Documents\nba_traditional_all_seasons_FINAL.csv",
    sep=";",
    decimal=",",
    dtype=str
)

print("rows:", len(all_games))
print("games:", all_games["gameid"].nunique())

rows: 70670
games: 35335

In [ ]:
from nba_api.stats.endpoints import leaguegamefinder

po = leaguegamefinder.LeagueGameFinder(
    season_nullable="2024-25",
    season_type_nullable="Playoffs"
)
po_df = po.get_data_frames()[0]

po_meta = po_df[["GAME_ID","TEAM_ID","TEAM_ABBREVIATION","GAME_DATE","MATCHUP","WL"]].copy()
po_meta["GAME_ID"] = po_meta["GAME_ID"].astype(str)
po_meta["TEAM_ID"] = po_meta["TEAM_ID"].astype(str)

print("playoff games:", po_meta["GAME_ID"].nunique())

In [28]:
have_ids = set(all_games["gameid"].astype(str))
po_expected = set(po_meta["GAME_ID"])
po_missing = sorted(po_expected - have_ids)

len(po_missing), po_missing[:5]

(84, ['0042400101', '0042400102', '0042400103', '0042400104', '0042400111'])

In [29]:
po_meta["GAME_ID"] = po_meta["GAME_ID"].astype(str)
po_meta["TEAM_ID"] = po_meta["TEAM_ID"].astype(str)

In [ ]:
from nba_api.stats.endpoints import boxscoretraditionalv2
import time
import pandas as pd

new_rows_po = []
failed_po = []

for i, gid in enumerate(po_missing, start=1):
    ok = False
    for attempt in range(1, 6):
        try:
            bs = boxscoretraditionalv2.BoxScoreTraditionalV2(game_id=gid, timeout=30)
            team_df = bs.get_data_frames()[1].copy()
            team_df["GAME_ID"] = gid
            team_df["GAME_ID"] = team_df["GAME_ID"].astype(str)
            team_df["TEAM_ID"] = team_df["TEAM_ID"].astype(str)

            ok = True
            break
        except Exception as e:
            if attempt == 5:
                failed_po.append((gid, type(e).__name__, str(e)[:200]))
            time.sleep(3 * attempt)

    if ok:
        m = team_df.merge(po_meta, on=["GAME_ID","TEAM_ID"], how="left")

        m["team"] = m["TEAM_ABBREVIATION_y"]  # (wenn bei dir x/y entsteht: nimm TEAM_ABBREVIATION_y)
        is_home = m["MATCHUP"].str.contains(" vs. ")
        m["home"] = m["team"].where(is_home, m["MATCHUP"].str.split(" @ ").str[1])
        m["away"] = m["MATCHUP"].str.split(" vs. ").str[1].where(is_home, m["team"])

        m["win"] = (m["WL"] == "W").astype(int)
        m["date"] = pd.to_datetime(m["GAME_DATE"]).dt.strftime("%d.%m.%Y")

        m["type"] = "playoffs"
        m["season"] = 2025
        m["gameid"] = m["GAME_ID"]
        m["teamid"] = m["TEAM_ID"]

        if "TO" in m.columns:
            m = m.rename(columns={"TO": "TOV"})

        cols = ["gameid","date","type","teamid","team","home","away",
                "MIN","PTS","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT",
                "FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PLUS_MINUS",
                "win","season"]

        rename_map = {"FG_PCT":"FG%","FG3M":"3PM","FG3A":"3PA","FG3_PCT":"3P%","FT_PCT":"FT%","PLUS_MINUS":"+/-"}
        new_rows_po.append(m[cols].rename(columns=rename_map))

    time.sleep(2.0)

playoffs_games = pd.concat(new_rows_po, ignore_index=True)
print("rows playoffs:", len(playoffs_games), "failed:", len(failed_po))

In [33]:
all_games = pd.concat([all_games, playoffs_games], ignore_index=True)

all_games["gameid"] = all_games["gameid"].astype(str).str.zfill(10)
all_games["teamid"] = all_games["teamid"].astype(str)

all_games = all_games.drop_duplicates(subset=["gameid","teamid"])

In [39]:
print("playoff rows:", (all_games["type"] == "playoffs").sum())
print("playoff games:", all_games.loc[all_games["type"]=="playoffs", "gameid"].nunique())
print(all_games.loc[all_games["type"]=="playoffs", "gameid"].astype(str).str.startswith("003").value_counts())

playoff rows: 168
playoff games: 84
gameid
False    168
Name: count, dtype: int64

In [45]:
all_games.loc[all_games["type"]=="playoffs", "gameid"].head()

70670    0042400101
70671    0042400101
70672    0042400102
70673    0042400102
70674    0042400103
Name: gameid, dtype: object

In [51]:
import pandas as pd

pct_cols = ["FG%","3P%","FT%"]
for c in pct_cols:
    s = all_games[c].astype(str).str.replace(",", ".", regex=False).str.strip()
    all_games[c] = pd.to_numeric(s, errors="coerce")
    m = all_games[c] <= 1
    all_games.loc[m, c] = (all_games.loc[m, c] * 100).round(1)

all_games[pct_cols].describe()

              FG%         3P%         FT%
count  168.000000  168.000000  168.000000
mean    45.539881   35.377381   77.454762
std      5.367502    8.441356    8.935282
min     31.300000   14.900000   54.800000
25%     41.975000   29.000000   71.400000
50%     45.100000   36.050000   78.200000
75%     49.400000   41.900000   84.200000
max     62.800000   54.200000  100.000000

In [57]:
s = all_games["MIN"].astype(str).str.strip()
team_min = pd.to_numeric(s.str.extract(r"^(\d+):")[0], errors="coerce")
min_numeric = pd.to_numeric(s, errors="coerce")
all_games["MIN"] = team_min.div(5).where(team_min.notna(), min_numeric).round().astype("Int64")

all_games["MIN"].astype(str).str.contains(":", na=False).any()  # sollte False sein

False

In [ ]:
out_path = r"C:\Users\Ntamb\Documents\nba_all_seasons_regular_plus_playoffs_2425.csv"
all_games.to_csv(out_path, sep=";", decimal=",", index=False)
out_path

In [76]:
from nba_api.stats.endpoints import leaguegamefinder

rs_2526 = leaguegamefinder.LeagueGameFinder(
    season_nullable="2025-26",
    season_type_nullable="Regular Season"
)
rs_2526_df = rs_2526.get_data_frames()[0]

rs2526_meta = rs_2526_df[[
    "GAME_ID","TEAM_ID","TEAM_ABBREVIATION","GAME_DATE","MATCHUP","WL"
]].copy()

rs2526_meta["GAME_ID"] = rs2526_meta["GAME_ID"].astype(str)
rs2526_meta["TEAM_ID"] = rs2526_meta["TEAM_ID"].astype(str)

In [79]:
have_ids = set(all_games["gameid"].astype(str).str.zfill(10))
expected = set(rs2526_meta["GAME_ID"])
missing_2526 = sorted(expected - have_ids)

len(missing_2526), missing_2526[:5]

(566, ['0022500001', '0022500002', '0022500003', '0022500004', '0022500005'])

In [ ]:
from nba_api.stats.endpoints import boxscoretraditionalv3
import time, pandas as pd

new_rows_2526 = []
failed_2526 = []

total_games = len(missing_2526)
print(f"Starte Download von {total_games} Games...")

for i, gid in enumerate(missing_2526, start=1):
    print(f"[{i}/{total_games}] Game {gid}...", end=" ", flush=True)
    ok = False

    for attempt in range(1, 8):
        try:
            bs = boxscoretraditionalv3.BoxScoreTraditionalV3(game_id=gid, timeout=100)
            team_df = bs.get_data_frames()[2].copy()
            ok = True
            print("")
            break
        except Exception as e:
            if attempt == 7:
                failed_2526.append((gid, type(e).__name__, str(e)[:200]))
                print(f" FAILED nach 7 Versuchen: {type(e).__name__}")
            else:
                wait_time = min(60, 2 ** attempt)
                print(f"Fehler (Versuch {attempt}/7), warte {wait_time}s...", end=" ", flush=True)
                time.sleep(wait_time)

    if not ok:
        continue

    # Keys angleichen
    team_df["gameId"] = team_df["gameId"].astype(str)
    team_df["teamId"] = team_df["teamId"].astype(str)

    meta2 = rs2526_meta.rename(columns={"GAME_ID":"gameId", "TEAM_ID":"teamId"})
    m = team_df.merge(meta2, on=["gameId","teamId"], how="left")

    # team/home/away/win/date
    m["team"] = m["TEAM_ABBREVIATION"]
    is_home = m["MATCHUP"].str.contains("vs\.")
    opp = m["MATCHUP"].str.split().str[-1]
    m["home"] = m["team"].where(is_home, opp)
    m["away"] = opp.where(is_home, m["team"])
    m["win"] = (m["WL"] == "W").astype(int)
    m["date"] = pd.to_datetime(m["GAME_DATE"]).dt.strftime("%d.%m.%Y")

    # Fixe Felder
    m["type"] = "regular"
    m["season"] = 2026
    m["gameid"] = m["gameId"]
    m["teamid"] = m["teamId"]

    # Mapping V3 -> dein Schema
    rename_v3 = {
        "minutes": "MIN",
        "fieldGoalsMade": "FGM",
        "fieldGoalsAttempted": "FGA",
        "fieldGoalsPercentage": "FG%",
        "threePointersMade": "3PM",
        "threePointersAttempted": "3PA",
        "threePointersPercentage": "3P%",
        "freeThrowsMade": "FTM",
        "freeThrowsAttempted": "FTA",
        "freeThrowsPercentage": "FT%",
        "reboundsOffensive": "OREB",
        "reboundsDefensive": "DREB",
        "reboundsTotal": "REB",
        "assists": "AST",
        "turnovers": "TOV",
        "steals": "STL",
        "blocks": "BLK",
        "foulsPersonal": "PF",
        "points": "PTS",
        "plusMinusPoints": "+/-",
    }
    m = m.rename(columns=rename_v3)

    cols_final = ["gameid","date","type","teamid","team","home","away",
                  "MIN","PTS","FGM","FGA","FG%","3PM","3PA","3P%",
                  "FTM","FTA","FT%","OREB","DREB","REB","AST","TOV","STL","BLK","PF","+/-",
                  "win","season"]

    new_rows_2526.append(m[cols_final])

    time.sleep(2.5)

season2526_games = pd.concat(new_rows_2526, ignore_index=True)
print(f"\n Fertig! {len(season2526_games)} Zeilen erstellt, {len(failed_2526)} Games fehlgeschlagen")
if failed_2526:
    print("Fehlgeschlagene Games:", failed_2526)

In [87]:
all_games = pd.concat([all_games, season2526_games], ignore_index=True)
all_games["gameid"] = all_games["gameid"].astype(str).str.zfill(10)
all_games["teamid"] = all_games["teamid"].astype(str)
all_games = all_games.drop_duplicates(subset=["gameid","teamid"])

# MIN: V3 minutes kann z.B. "240:00" sein -> Team-Minuten -> /5
s = all_games["MIN"].astype(str).str.strip()
team_min = pd.to_numeric(s.str.extract(r"^(\d+):")[0], errors="coerce")
min_numeric = pd.to_numeric(s, errors="coerce")
all_games["MIN"] = team_min.div(5).where(team_min.notna(), min_numeric).round().astype("Int64")

# Prozent: Komma -> Punkt, nur <=1 *100
pct_cols = ["FG%","3P%","FT%"]
for c in pct_cols:
    ss = all_games[c].astype(str).str.replace(",", ".", regex=False).str.strip()
    all_games[c] = pd.to_numeric(ss, errors="coerce")
    mask = all_games[c] <= 1
    all_games.loc[mask, c] = (all_games.loc[mask, c] * 100).round(1)

In [88]:
print("2026 games:", all_games.loc[all_games["season"].astype(int)==2026, "gameid"].nunique())

out_path = r"C:\Users\Ntamb\Documents\nba_all_seasons_plus_2526.csv"
all_games.to_csv(out_path, sep=";", decimal=",", index=False)
out_path

2026 games: 566

'C:\\Users\\Ntamb\\Documents\\nba_all_seasons_plus_2526.csv'

In [90]:
# TEST: Schaue dir die Rohdaten vom ersten Game an
if len(missing_2526) > 0:
    test_gid = missing_2526[0]
    print(f"Teste Game {test_gid}...")
    
    bs_test = boxscoretraditionalv3.BoxScoreTraditionalV3(game_id=test_gid, timeout=100)
    test_df = bs_test.get_data_frames()[2].copy()
    
    print("\n=== ROHDATEN vom ersten Game ===")
    print(test_df.head(2))
    print("\n=== Spaltennamen ===")
    print(list(test_df.columns))
    print("\n=== Minuten-Werte ===")
    print(test_df["minutes"].values if "minutes" in test_df.columns else "Spalte 'minutes' nicht gefunden")
    print("\n=== FG%-Werte ===")
    print(test_df["fieldGoalsPercentage"].values if "fieldGoalsPercentage" in test_df.columns else "Spalte 'fieldGoalsPercentage' nicht gefunden")

Teste Game 0022500001...

=== ROHDATEN vom ersten Game ===
       gameId      teamId       teamCity teamName teamTricode teamSlug  \
0  0022500001  1610612760  Oklahoma City  Thunder         OKC  thunder
1  0022500001  1610612745        Houston  Rockets         HOU  rockets

  minutes  fieldGoalsMade  fieldGoalsAttempted  fieldGoalsPercentage  ...  \
0  290:00              46                  104                 0.442  ...
1  290:00              43                   97                 0.443  ...

   reboundsOffensive  reboundsDefensive  reboundsTotal  assists  steals  \
0                 11                 27             38       29      12
1                 16                 36             52       23       6

   blocks  turnovers  foulsPersonal  points  plusMinusPoints
0       4         11             27     125              1.0
1       5         22             26     124             -1.0

[2 rows x 26 columns]

=== Spaltennamen ===
['gameId', 'teamId', 'teamCity', 'teamName', 'teamTricode', 'teamSlug', 'minutes', 'fieldGoalsMade', 'fieldGoalsAttempted', 'fieldGoalsPercentage', 'threePointersMade', 'threePointersAttempted', 'threePointersPercentage', 'freeThrowsMade', 'freeThrowsAttempted', 'freeThrowsPercentage', 'reboundsOffensive', 'reboundsDefensive', 'reboundsTotal', 'assists', 'steals', 'blocks', 'turnovers', 'foulsPersonal', 'points', 'plusMinusPoints']

=== Minuten-Werte ===
['290:00' '290:00']

=== FG%-Werte ===
[0.442 0.443]

In [ ]:
from nba_api.stats.endpoints import boxscoretraditionalv3
import time, pandas as pd

new_rows_2526 = []
failed_2526 = []

total_games = len(missing_2526)
print(f"Starte Download von {total_games} Games...")

for i, gid in enumerate(missing_2526, start=1):
    print(f"[{i}/{total_games}] Game {gid}...", end=" ", flush=True)
    ok = False

    for attempt in range(1, 8):
        try:
            bs = boxscoretraditionalv3.BoxScoreTraditionalV3(game_id=gid, timeout=100)
            team_df = bs.get_data_frames()[2].copy()
            ok = True
            print("")
            break
        except Exception as e:
            if attempt == 7:
                failed_2526.append((gid, type(e).__name__, str(e)[:200]))
                print(f" FAILED nach 7 Versuchen: {type(e).__name__}")
            else:
                wait_time = min(60, 2 ** attempt)
                print(f"Fehler (Versuch {attempt}/7), warte {wait_time}s...", end=" ", flush=True)
                time.sleep(wait_time)

    if not ok:
        continue

    # Keys angleichen
    team_df["gameId"] = team_df["gameId"].astype(str)
    team_df["teamId"] = team_df["teamId"].astype(str)

    meta2 = rs2526_meta.rename(columns={"GAME_ID":"gameId", "TEAM_ID":"teamId"})
    m = team_df.merge(meta2, on=["gameId","teamId"], how="left")

    # team/home/away/win/date
    m["team"] = m["TEAM_ABBREVIATION"]
    is_home = m["MATCHUP"].str.contains("vs\.")
    opp = m["MATCHUP"].str.split().str[-1]
    m["home"] = m["team"].where(is_home, opp)
    m["away"] = opp.where(is_home, m["team"])
    m["win"] = (m["WL"] == "W").astype(int)
    m["date"] = pd.to_datetime(m["GAME_DATE"]).dt.strftime("%d.%m.%Y")

    # Fixe Felder
    m["type"] = "regular"
    m["season"] = 2026
    m["gameid"] = m["gameId"]
    m["teamid"] = m["teamId"]

    # Mapping V3 -> dein Schema
    rename_v3 = {
        "minutes": "MIN",
        "fieldGoalsMade": "FGM",
        "fieldGoalsAttempted": "FGA",
        "fieldGoalsPercentage": "FG%",
        "threePointersMade": "3PM",
        "threePointersAttempted": "3PA",
        "threePointersPercentage": "3P%",
        "freeThrowsMade": "FTM",
        "freeThrowsAttempted": "FTA",
        "freeThrowsPercentage": "FT%",
        "reboundsOffensive": "OREB",
        "reboundsDefensive": "DREB",
        "reboundsTotal": "REB",
        "assists": "AST",
        "turnovers": "TOV",
        "steals": "STL",
        "blocks": "BLK",
        "foulsPersonal": "PF",
        "points": "PTS",
        "plusMinusPoints": "+/-",
    }
    m = m.rename(columns=rename_v3)

    # Minuten immer auf 48 setzen (Standard-Spielzeit)
    m["MIN"] = 48
    
    # Prozente von Dezimal (0.442) zu Prozent (44.2) umrechnen
    for pct_col in ["FG%", "3P%", "FT%"]:
        if pct_col in m.columns:
            m[pct_col] = pd.to_numeric(m[pct_col], errors='coerce')
            m[pct_col] = (m[pct_col] * 100).round(1)

    cols_final = ["gameid","date","type","teamid","team","home","away",
                  "MIN","PTS","FGM","FGA","FG%","3PM","3PA","3P%",
                  "FTM","FTA","FT%","OREB","DREB","REB","AST","TOV","STL","BLK","PF","+/-",
                  "win","season"]

    new_rows_2526.append(m[cols_final])
    time.sleep(2.5)

# Neue Spiele zusammenfgen
season2526_games = pd.concat(new_rows_2526, ignore_index=True)
print(f"\n Neue Spiele: {len(season2526_games)} Zeilen, {len(failed_2526)} Games fehlgeschlagen")

# Mit vorhandenen Daten kombinieren
print("\nKombiniere mit vorhandenen Daten...")
updated_games = pd.concat([all_games, season2526_games], ignore_index=True)
print(f"Gesamt: {len(updated_games)} Zeilen")

# Speichern
updated_games.to_csv("nba_games_updated.csv", index=False)
print("\n Gespeichert als 'nba_games_updated.csv'")

In [ ]:
from nba_api.stats.endpoints import boxscoretraditionalv3
import time, pandas as pd

new_rows_2526 = []
failed_2526 = []

total_games = len(missing_2526)
print(f"Starte Download von {total_games} Games...")

for i, gid in enumerate(missing_2526, start=1):
    print(f"[{i}/{total_games}] Game {gid}...", end=" ", flush=True)
    ok = False

    for attempt in range(1, 6):
        try:
            bs = boxscoretraditionalv3.BoxScoreTraditionalV3(game_id=gid, timeout=30)
            team_df = bs.get_data_frames()[2].copy()  # V3 hat Team Stats bei Index 2
            team_df["GAME_ID"] = gid
            ok = True
            print("")
            break
        except Exception as e:
            if attempt == 5:
                failed_2526.append((gid, type(e).__name__, str(e)[:200]))
                print(f" FAILED: {type(e).__name__}")
            else:
                print(f"Retry {attempt}...", end=" ", flush=True)
            time.sleep(3 * attempt)

    if ok:
        # Meta-Daten mergen
        meta2 = rs2526_meta.rename(columns={"GAME_ID": "gameId", "TEAM_ID": "teamId"})
        team_df["gameId"] = team_df["gameId"].astype(str)
        team_df["teamId"] = team_df["teamId"].astype(str)
        
        m = team_df.merge(meta2, on=["gameId", "teamId"], how="left")

        # Team/Home/Away/Win/Date
        m["team"] = m["TEAM_ABBREVIATION"]
        opp = m["MATCHUP"].str.split().str[-1]
        is_home = m["MATCHUP"].str.contains("vs\.")
        m["home"] = m["team"].where(is_home, opp)
        m["away"] = opp.where(is_home, m["team"])
        m["win"] = (m["WL"] == "W").astype(int)
        m["date"] = pd.to_datetime(m["GAME_DATE"]).dt.strftime("%d.%m.%y")

        # Fixe Felder
        m["type"] = "regular"
        m["season"] = 2026
        m["gameid"] = m["gameId"]
        m["teamid"] = m["teamId"]
        
        # Minuten auf 48 setzen
        m["MIN"] = 48

        # V3 Spalten zu deinem Format umbenennen
        v3_rename = {
            "fieldGoalsMade": "FGM",
            "fieldGoalsAttempted": "FGA",
            "fieldGoalsPercentage": "FG_PCT",
            "threePointersMade": "FG3M",
            "threePointersAttempted": "FG3A",
            "threePointersPercentage": "FG3_PCT",
            "freeThrowsMade": "FTM",
            "freeThrowsAttempted": "FTA",
            "freeThrowsPercentage": "FT_PCT",
            "reboundsOffensive": "OREB",
            "reboundsDefensive": "DREB",
            "reboundsTotal": "REB",
            "assists": "AST",
            "turnovers": "TOV",
            "steals": "STL",
            "blocks": "BLK",
            "foulsPersonal": "PF",
            "points": "PTS",
            "plusMinusPoints": "PLUS_MINUS",
        }
        m = m.rename(columns=v3_rename)

        # Prozente von Dezimal zu Prozent umrechnen
        for pct_col in ["FG_PCT", "FG3_PCT", "FT_PCT"]:
            if pct_col in m.columns:
                m[pct_col] = pd.to_numeric(m[pct_col], errors='coerce') * 100

        # Finale Spalten wie in deinem Original-Code
        cols = ["gameid","date","type","teamid","team","home","away",
                "MIN","PTS","FGM","FGA","FG_PCT","FG3M","FG3A","FG3_PCT",
                "FTM","FTA","FT_PCT","OREB","DREB","REB","AST","TOV","STL","BLK","PF","PLUS_MINUS",
                "win","season"]

        rename_map = {
            "FG_PCT": "FG%",
            "FG3M": "3PM",
            "FG3A": "3PA",
            "FG3_PCT": "3P%",
            "FT_PCT": "FT%",
            "PLUS_MINUS": "+/-",
        }

        new_rows_2526.append(m[cols].rename(columns=rename_map))

    time.sleep(2.0)

print("done:", len(new_rows_2526), "failed:", len(failed_2526))

# Zusammenfgen
season2526_games = pd.concat(new_rows_2526, ignore_index=True)

# Mit alten Daten kombinieren
updated_games = pd.concat([all_games, season2526_games], ignore_index=True)
print(f"Gesamt: {len(updated_games)} Zeilen")

# Speichern (mit deinem bevorzugten Format)
updated_games.to_csv("nba_games_updated.csv", index=False)
print(" Gespeichert!")

In [100]:
import pandas as pd
from nba_api.stats.endpoints import leaguegamefinder

all_games = pd.read_csv(r"C:\Users\Ntamb\Documents\nbadaten2025komplett.csv", sep=";", decimal=",", dtype=str)

rs_2526 = leaguegamefinder.LeagueGameFinder(
    season_nullable="2025-26",
    season_type_nullable="Regular Season"
)
rs2526_df = rs_2526.get_data_frames()[0]

rs2526_meta = rs2526_df[["GAME_ID","TEAM_ID","TEAM_ABBREVIATION","GAME_DATE","MATCHUP","WL"]].copy()
rs2526_meta["GAME_ID"] = rs2526_meta["GAME_ID"].astype(str)
rs2526_meta["TEAM_ID"] = rs2526_meta["TEAM_ID"].astype(str)

have_ids = set(all_games["gameid"].astype(str).str.zfill(10))
expected_ids = set(rs2526_meta["GAME_ID"].astype(str))

missing_2526 = sorted(expected_ids - have_ids)
len(missing_2526), missing_2526[:5]

(582, ['0022500001', '0022500002', '0022500003', '0022500004', '0022500005'])

In [ ]:
import time
from nba_api.stats.endpoints import boxscoretraditionalv3

new_rows_2526 = []
failed_2526 = []

total_games = len(missing_2526)
print(f"Starte Download von {total_games} Games...")

meta2 = rs2526_meta.rename(columns={"GAME_ID":"gameId", "TEAM_ID":"teamId"})

rename_v3 = {
    "minutes": "MIN",
    "fieldGoalsMade": "FGM",
    "fieldGoalsAttempted": "FGA",
    "fieldGoalsPercentage": "FG%",
    "threePointersMade": "3PM",
    "threePointersAttempted": "3PA",
    "threePointersPercentage": "3P%",
    "freeThrowsMade": "FTM",
    "freeThrowsAttempted": "FTA",
    "freeThrowsPercentage": "FT%",
    "reboundsOffensive": "OREB",      # falls vorhanden
    "reboundsDefensive": "DREB",      # falls vorhanden
    "reboundsTotal": "REB",
    "assists": "AST",
    "turnovers": "TOV",
    "steals": "STL",
    "blocks": "BLK",
    "foulsPersonal": "PF",
    "points": "PTS",
    "plusMinusPoints": "+/-",
}

cols_final = ["gameid","date","type","teamid","team","home","away",
              "MIN","PTS","FGM","FGA","FG%","3PM","3PA","3P%",
              "FTM","FTA","FT%","OREB","DREB","REB","AST","TOV","STL","BLK","PF","+/-",
              "win","season"]

SLEEP_SEC = 2.5

for i, gid in enumerate(missing_2526, start=1):
    print(f"[{i}/{total_games}] Game {gid}...", end=" ", flush=True)
    ok = False
    try:
        bs = boxscoretraditionalv3.BoxScoreTraditionalV3(game_id=gid, timeout=80)
        team_df = bs.get_data_frames()[2].copy()     # <-- Team stats (2 Zeilen)
        team_df["gameId"] = team_df["gameId"].astype(str)
        team_df["teamId"] = team_df["teamId"].astype(str)

        m = team_df.merge(meta2, on=["gameId","teamId"], how="left")

        # team / home / away
        m["team"] = m["TEAM_ABBREVIATION"]
        is_home = m["MATCHUP"].str.contains("vs\.")
        opp = m["MATCHUP"].str.split().str[-1]
        m["home"] = m["team"].where(is_home, opp)
        m["away"] = opp.where(is_home, m["team"])

        m["win"] = (m["WL"] == "W").astype(int)
        m["date"] = pd.to_datetime(m["GAME_DATE"]).dt.strftime("%d.%m.%Y")

        m["type"] = "regular"
        m["season"] = 2026
        m["gameid"] = m["gameId"]
        m["teamid"] = m["teamId"]

        m = m.rename(columns=rename_v3)

        # fehlende Spalten auffllen (damit es nie abbricht)
        for c in cols_final:
            if c not in m.columns:
                m[c] = pd.NA

        new_rows_2526.append(m[cols_final])

        if i % 25 == 0:
            print(f"done {i}/{len(missing_2526)} | new_games={i} | failed={len(failed_2526)}")

        time.sleep(SLEEP_SEC)
        print("done:", len(new_rows_2526), "failed:", len(failed_2526))

    except Exception as e:
        failed_2526.append((gid, type(e).__name__, str(e)[:120]))
        print("failed gid:", gid, type(e).__name__)
        time.sleep(10)

In [106]:
retry_ids = [x[0] for x in failed_2526]   # wenn failed_2526 Tupel enthlt
retry_ids

['0022501209',
 '0022501210',
 '0022501211',
 '0022501212',
 '0022501213',
 '0022501214',
 '0022501215',
 '0022501216',
 '0022501217',
 '0022501218',
 '0022501219',
 '0022501220',
 '0022501221',
 '0022501222',
 '0022501223']

In [ ]:
import time
import pandas as pd
from nba_api.stats.endpoints import boxscoretraditionalv3

retry_rows = []
still_failed = []

def fetch_teamstats_v3(gid, max_tries=6):
    for attempt in range(1, max_tries + 1):
        try:
            bs = boxscoretraditionalv3.BoxScoreTraditionalV3(game_id=gid, timeout=180)
            df = bs.get_data_frames()[2].copy()  # Team stats (2 Zeilen)
            return df
        except Exception as e:
            wait = min(2, 2 * attempt)  # 15,30,45,60,75,90...
            print(f"retry {attempt}/{max_tries} {gid} -> {type(e).__name__} | sleep {wait}s")
            time.sleep(wait)
    return None

for gid in retry_ids:
    df = fetch_teamstats_v3(gid)
    if df is None:
        still_failed.append(gid)
        continue

    df["gameId"] = df["gameId"].astype(str)
    df["teamId"] = df["teamId"].astype(str)

    m = df.merge(meta2, on=["gameId","teamId"], how="left")

    m["team"] = m["TEAM_ABBREVIATION"]
    is_home = m["MATCHUP"].str.contains(r"vs\.", na=False)
    opp = m["MATCHUP"].str.split().str[-1]
    m["home"] = m["team"].where(is_home, opp)
    m["away"] = opp.where(is_home, m["team"])

    m["win"] = (m["WL"] == "W").astype(int)
    m["date"] = pd.to_datetime(m["GAME_DATE"]).dt.strftime("%d.%m.%Y")

    m["type"] = "regular"
    m["season"] = 2026
    m["gameid"] = m["gameId"]
    m["teamid"] = m["teamId"]

    m = m.rename(columns=rename_v3)

    for c in cols_final:
        if c not in m.columns:
            m[c] = pd.NA

    retry_rows.append(m[cols_final])

    time.sleep(6)  # extra freundlich zur API

retry_df = pd.concat(retry_rows, ignore_index=True) if retry_rows else pd.DataFrame(columns=cols_final)
print("retried rows:", len(retry_df), "still_failed:", len(still_failed))
still_failed

In [109]:
season2526_games = pd.concat([season2526_games, retry_df], ignore_index=True)
season2526_games = season2526_games.drop_duplicates(subset=["gameid","teamid"])

print("2526 games:", season2526_games["gameid"].nunique())
print("2526 rows:", len(season2526_games))

2526 games: 566
2526 rows: 1132

In [ ]:
bad = season2526_games.groupby("gameid").size()
bad = bad[bad != 2]
bad.head(), len(bad)

In [112]:
all_games = pd.concat([all_games, season2526_games], ignore_index=True)

all_games["gameid"] = all_games["gameid"].astype(str).str.zfill(10)
all_games["teamid"] = all_games["teamid"].astype(str)

all_games = all_games.drop_duplicates(subset=["gameid","teamid"])

In [116]:
all_games["date_dt"] = pd.to_datetime(
    all_games["date"],
    dayfirst=True,
    errors="coerce"
)

In [117]:
all_games = all_games.sort_values(
    by=["date_dt", "gameid", "teamid"]
)

In [118]:
all_games = all_games.drop(columns=["date_dt"])

In [119]:
all_games.tail(10)[["gameid","date","season","team"]]

           gameid        date season team
71901  0022500537  09.01.2026   2026  ATL
71900  0022500537  09.01.2026   2026  DEN
71903  0022500538  09.01.2026   2026  NYK
71902  0022500538  09.01.2026   2026  PHX
71904  0022500539  09.01.2026   2026  GSW
71905  0022500539  09.01.2026   2026  SAC
71907  0022500540  09.01.2026   2026  HOU
71906  0022500540  09.01.2026   2026  POR
71908  0022500541  09.01.2026   2026  LAL
71909  0022500541  09.01.2026   2026  MIL

In [120]:
all_games.to_csv(
    r"C:\Users\Ntamb\Documents\nba_master_all_seasons_sorted.csv",
    sep=";",
    decimal=",",
    index=False
)